{% extends 'tweets/base.html' %}
{% load static %}

{% block title %}
    Highlander HUB | Tweets
{% endblock %}

{% block content %}
<!-- Main Content -->

<style>
    .tweetBtn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        padding: 0.5rem 2rem;
        background-color: #2f98d4;
        color: white;
        display: inline-block; /* Ensure button is visible */
        visibility: visible; /* Ensure button is visible */
    }

    .tweetBtn:hover {
        background-color: #2473a0;
    }
</style>

<div class="container allTweets">
    <div class="card shadow mb-5 rounded border-0">
        <div class="card-header">
            <h2 class="card-title">
                Hey {% if user.profile.first_name|length > 0 %} {{ user.profile.first_name }}, {% endif %}what do you want Highlanders to know?
            </h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/tweets/all-tweets">
                {% csrf_token %}
                <div class="form-group">
                    <textarea
                        required
                        name="tweet"
                        placeholder="What's on your mind?"
                        class="form-control"
                        id="createTweet"
                        rows="3"
                    ></textarea>
                </div>
                <br />
                <div class="pull-right">
                    <button type="submit" class="btn text-white tweetBtn">Post</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <br />
    <div>
        <h1>Latest Posts</h1>
        <div class="container">
            {% for tweet in tweets %}
            <div class="card shadow mb-5 rounded border-0">
                <div
                    class="card-header text-white border-0"
                    style="background-color: #2f98d4;"
                >
                    <div class="row row-cols-auto">
                        <div class="col my-auto">
                            <a href="/tweets/user-timeline/{{ tweet.user.id }}">
                                <img
                                    class="tweet-profile-img my-auto"
                                    alt="{{ tweet.user.username }}"
                                    src="{% if tweet.user.profile.profile_pic %}{{ tweet.user.profile.profile_pic.url }}{% else %}https://icon-library.com/images/generic-user-icon/generic-user-icon-19.jpg{% endif %}"
                                />
                            </a>
                        </div>
                        <div class="col my-auto">
                            <a
                                class="text-white"
                                href="/tweets/user-timeline/{{ tweet.user.id }}"
                                style="text-decoration: none;"
                            >
                                <h4 class="my-auto">
                                    {{ tweet.user.profile.first_name }} {{ tweet.user.profile.last_name }}
                                </h4>
                                <span>@{{ tweet.user.username }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text text-wrap">
                        <span class="text-muted timestamp">
                            {{ tweet.date_created }}
                        </span>
                        <br />
                        {{ tweet.msg }}
                    </p>
                    <br />
                    {% if tweet.user.id == user.profile.id %}
                    <div class="pull-right row row-cols-auto">
                        <div class="col">
                            <a
                                href="/tweets/edit-tweet/{{ tweet.id }}"
                                style="background: none; border: none;"
                            >
                                <i class="iconBtn fa fa-pencil-square-o fa-3" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col">
                            <form
                                onsubmit="return confirm('Are you sure you want to delete the tweet: {{ tweet.msg }} ?');"
                                method="POST"
                                action="{% url 'delete-tweet' tweet.id %}"
                            >
                                {% csrf_token %}
                                <button
                                    name="deletetweet"
                                    value="{{ tweet.id }}"
                                    type="submit"
                                    style="background: none; border: none;"
                                >
                                    <i class="iconBtn fa fa-trash-o fa-3" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}