body {
  background-color: rgb(194, 218, 235);
}

.brand {
  font-weight: 1000;
}

.navigationHeader {
  font-weight: 500;
}

.navBrand {
  font-size: 1.5rem;
}

.menuItem {
  font-size: 1rem;
  color: rgb(198, 223, 226) !important;
}

.menuItem:hover {
  color: white !important;
}

.allTweets {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tweet-profile-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
}

.card-body p {
  margin: 1rem;
}

textarea {
  height: 8rem;
  min-height: 8rem;
  max-height: 8rem;
  resize: none;
}

.timestamp {
  font-size: small;
}

