{% extends 'tweets/base.html' %}
{% load static %}
   
{% block title %}
Twitter Clone | Tweets
{% endblock %}
   
{% block content %}
<style>
  .tweetBtn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.2s;
    background-color: #2f98d4;
    color: white;
  }

  .tweetBtn:hover {
    background-color: #2473a0;
  }

  .iconBtn {
    color: rgb(81, 91, 102);
    font-size: large;
    font-weight: 1000;
  }

  .iconBtn:hover {
    color: #2f98d4;
  }
</style>
<div class="container allTweets">
  <div>
    <div class="card shadow mb-5 rounded border-0">
      <div class="card-header">
        <!-- Name Header -->
        <h2 class="card-title">Good day John Doe, post a tweet!</h2>
        <!-- End Name Header -->
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <!-- Tweet -->
            <textarea
              required
              name="tweet"
              class="form-control"
              id="createTweet"
              rows="3"
            >
            </textarea>
            <!-- End Tweet -->
          </div>
          <br />
          <div class="pull-right">
            <button type="submit" class="btn text-white tweetBtn">
              Tweet
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />
  <div>
    <h1>Checkout the latest Tweets!</h1>
    <div class="container">
      <!-- Cards -->
      <div class="card shadow mb-5 rounded border-0">
        <div
          class="card-header text-white border-0"
          style="background-color: #2f98d4;"
        >
          <div class="row row-cols-auto">
            <div class="col my-auto">
              <img
                class="tweet-profile-img my-auto"
                alt="john-doe"
                src="https://icon-library.com/images/generic-user-icon/generic-user-icon-19.jpg"
              />
            </div>
            <div class="col my-auto">
              <!-- Name -->
              <h4 class="my-auto">John Doe</h4>
              <!-- End Name -->
              <!-- Username -->
              <span>@johnDoe</span>
              <!-- End Username -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-wrap">
            <!-- Date Created -->
            <span class="text-muted timestamp">
              Posted at 2017-09-01 18:39:43
            </span>
            <!-- End Date Created -->
            <br />
            <!-- Message -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
            <!-- End Message -->
          </p>
          <br />
          <!-- User only -->
          <div class="pull-right row row-cols-auto">
            <div class="col">
              <!-- Edit -->
              <a href="#" style="background: none; border: none;">
                <i
                  class="iconBtn fa fa-pencil-square-o fa-3"
                  aria-hidden="true"
                ></i>
              </a>
              <!-- End Edit -->
            </div>
            <div class="col">
              <!-- Delete -->
              <form>
                <button
                  type="submit"
                  style="background: none; border: none;"
                >
                  <i
                    class="iconBtn fa fa-trash-o fa-3"
                    aria-hidden="true"
                  ></i>
                </button>
              </form>
              <!-- End Delete -->
            </div>
          </div>
          <!-- End User only -->
        </div>
      </div>
      <!-- End Cards -->
    </div>
  </div>
</div>
{% endblock %}